<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header><%- include('../views/partial/nav'); %></header>
    <div class="form-users">
      <form
        id="editUserForm"
        action="/Update-user/<%= userToEdit.id %>"
        method="POST"
      >
        <fieldset>
          <legend>Edit User</legend>
          <div class="input-group d-none">
            <label for="email">Id: </label>
            <input type="text" name="userId" value="<%= userToEdit.id %>" />
          </div>

          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" value="<%= userToEdit.email %>" />
          </div>
          <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%= userToEdit.name %>" />
          </div>
          <div class="input-group">
            <label for="phone">Phone:</label>
            <input type="text" name="phone" value="<%= userToEdit.phone %>" />
          </div>
          <div>
            <button class="button">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
