<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header><%- include('../views/partial/nav'); %></header>

    <h1>User List</h1>
    <a class="my-button" id="openModalBtn">Add user</a>
  <!-- Modal HTML -->
  <!-- Modal HTML -->
  <div id="myModal" class="modal">
    <div class="modal-content form-users">
      <!-- Your form content goes here -->
      <form id="userForm" action="/create-user" method="POST">
        <fieldset>
          <legend>Form add users</legend>
          <div class="input-group">
            <label for="email">Email:</label>
            <input type="email" name="email" />
          </div>
          <div class="input-group">
            <label for="name">Name:</label>
            <input type="text" name="name" />
          </div>
          <div class="input-group">
            <label for="phone">Phone:</label>
            <input type="text" name="phone" />
          </div>
          <div>
            <button id="saveButton" class="button" type="button">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>


    <div class="table-container">
      
      <table>
        <tr>
          <th>name</th>
          <th>email</th>
          <th>phone</th>
          <th>actions</th>
        </tr>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td>
            <button onclick="window.location.href='/editUser/<%= user.id %>'">Edit</button>
            <button class="delete-button" data-id="<%= user.id %>" >Delete</button>
          </td>
        </tr>
        <% }); %>
      </table>
      
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/js/home.js"></script>
    
  </body>
</html>
